body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    width: 100vw;  /* Full width of the viewport */
    background-color: #228B22; /* Dark green color for the entire background */
}

.buttons-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.board {
    position: relative;
    width: 80%; /* Board takes 80% of the viewport width */
    height: 70%; /* Board takes 70% of the viewport height */
    background-color: #228B22; /* Dark green color for the board */
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
    gap: 20px; /* Space between the cards */
    align-content: flex-start;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}
