body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #228B22; /* Dark green background for the entire page */
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.board {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
    gap: 20px; /* Space between the cards */
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading h1 {
    font-size: 48px;
    color: white; /* Set the loading text color to white */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}
